In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("/Users/shrey/Downloads/ROCStories_winter2017 - ROCStories_winter2017 (1).csv")

In [16]:
df.head()

,storyid,storytitle,sentence1,sentence2,sentence3,sentence4,sentence5
0,8bbe6d11-1e2e-413c-bf81-eaea05f4f1bd,David Drops the Weight,David noticed he had put on a lot of weight re...,He examined his habits to try and figure out t...,He realized he'd been eating too much fast foo...,He stopped going to burger places and started ...,"After a few weeks, he started to feel much bet..."
1,0beabab2-fb49-460e-a6e6-f35a202e3348,Frustration,Tom had a very short temper.,One day a guest made him very angry.,He punched a hole in the wall of his house.,Tom's guest became afraid and left quickly.,Tom sat on his couch filled with regret about ...
2,87da1a22-df0b-410c-b186-439700b70ba6,Marcus Buys Khakis,Marcus needed clothing for a business casual e...,All of his clothes were either too formal or t...,He decided to buy a pair of khakis.,The pair he bought fit him perfectly.,Marcus was happy to have the right clothes for...
3,2d16bcd6-692a-4fc0-8e7c-4a6f81d9efa9,Different Opinions,Bobby thought Bill should buy a trailer and ha...,Bill thought a truck would be better for what ...,Bobby pointed out two vehicles were much more ...,Bill was set in his ways with conventional thi...,He ended up buying the truck he wanted despite...
4,c71bb23b-7731-4233-8298-76ba6886cee1,Overcoming shortcomings,John was a pastor with a very bad memory.,He tried to memorize his sermons many days in ...,He decided to learn to sing to overcome his ha...,He then made all his sermons into music and sa...,His congregation was delighted and so was he.

In [18]:
with open("stories.txt", 'w') as f:
    for index, row in df.iterrows():
        f.write(row['sentence1'] + " " + row['sentence2'] + " " + row['sentence3'] + " " + row['sentence4'] + " " + row['sentence5'] + " " + '\n')

In [40]:
with open("stories_train.txt", 'w') as f:
    for index, row in df[:50000].iterrows():
        f.write(row['sentence1'] + " " + row['sentence2'] + " " + row['sentence3'] + " " + row['sentence4'] + " " + '\n')

In [41]:
with open("stories_test.txt", 'w') as f:
    for index, row in df[50000:52665].iterrows():
        f.write(row['sentence1'] + " " + row['sentence2'] + " " + row['sentence3'] + " " + row['sentence4'] + " " + '\n')

In [32]:
df[42132:52665].describe()

,storyid,storytitle,sentence1,sentence2,sentence3,sentence4,sentence5
count,10533,10533,10533,10533,10533,10533,10533
unique,10533,9202,10474,10499,10521,10516,10505
top,c6731016-dda3-4234-b3f4-5fecdf46ec8f,Ice Cream,Tom was out with friends.,He was running late.,She didn't know what it was.,He searched for hours and couldn't find it.,She had a great time.
freq,1,11,4,4,2,3,14

In [49]:
from textgenrnn import textgenrnn
textgen_tr = textgenrnn(weights_path='colab_experiments/storycloze/colaboratory_weights.hdf5',
                       vocab_path='colab_experiments/storycloze/colaboratory_vocab.json',
                       config_path='colab_experiments/storycloze/colaboratory_config.json')

In [77]:
test_df = df[50000:52665]
# s1 = test_df.at[1, 'sentence1']
# s2 = test_df.at[1, 'sentence2']
# s3 = test_df.at[1, 'sentence3']
# s4 = test_df.at[1, 'sentence4']
# s5 = test_df.at[1, 'sentence5']

s1 = df.at[100, 'sentence1']
s2 = df.at[100, 'sentence2']
s3 = df.at[100, 'sentence3']
s4 = df.at[100, 'sentence4']
s5 = df.at[100, 'sentence5']

In [78]:
prefix = s1 + s2 + s3 + s4
print(prefix)
textgen_tr.generate_samples(n=5, prefix=prefix, temperatures=[0.5], max_gen_length=10)
print(s5)

I was going to a Halloween party.I looked through my clothes but could not find a costume.I cut up my old clothes and constructed a costume.I put my costume on and went to the party.
####################
Temperature: 0.5
####################
pet dog . i fed the dog some new dog

lost the man . he called the man . the

he was trying to think of a different reason .

. they had a but was stuck with a fire

his friends got drunk . they all jumped out .

My friends loved my costume.

In [81]:
textgen_tr.generate_samples(n=5, temperatures=[0.5], max_gen_length=50)

####################
Temperature: 0.5
####################
them .
tom was at the beach . he was playing a big game with friends . the ball hit a tree in the yard . tom was angry and ran hard .
billy was playing a game of baseball . he got hit hard and the ball

issues . he tried to stay in his room .
one day randy decided to build a . he created a concrete surface . it would take a picture and try keeping them warm at it . it then helped bonnie look for new things .
joan was

looked around .
gary owned a mid - chris ' s house . gary had been putting away a lot of acted on it . gary decided to sell his house in boxes . he used the best ones to put the holes in the mail .
tom

man was out of the restaurant . his friend jason asked him to pick it up .
the man was starting a large new business . he was doing well at his job . he was very excited about his job . he worked hard and saw a man

back to the ocean .
the family was going camping . they bought a new tent . they pulled up to see what the tent would be found . they had set the tent and the kids and water and water .
dan loved to fish and wanted